.about {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
}
.about_title__wrap {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../assets/about-cover.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 223px;
  display: flex;
  padding: 0 16px;
  margin-bottom: 15px;
}

.dropdown_wraper {
  width: 1023px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .dropdown_wraper {
    width: 700px;
  }
}

@media screen and (max-width: 980px) {
  .dropdown_wraper {
    width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .about {
    margin: 0;
  }
  .about_title__wrap {
    height: 111px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .dropdown_wraper {
    width: 100%;
  }
}
