.rental {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ff6060;
  padding: 0 100px;
}
.rental__basic_info,
.rental__tags {
  width: 75%;
  margin-bottom: 20px;
}
.rental__host_info,
.rental__rating {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 24px;
}
.rental__dropdowns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rental__description,
.rental__equipments {
  width: 47.5%;
  margin-bottom: 24px;
}
.rental_title {
  font-size: 36px;
  line-height: 51px;
  color: #ff6060;
}
.rental_location {
  font-size: 18px;
  line-height: 26px;
}
.rental__host_name {
  margin-right: 10px;
  font-size: 18px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rental__host_picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
}
.rental__tags {
  display: flex;
}
@media screen and (max-width: 768px) {
  .rental {
    justify-content: space-between;
    padding: 0 20px;
  }

  .rental__basic_info {
    order: 2;
    width: 100%;
    margin-bottom: 10px;
  }
  .rental_title {
    font-size: 18px;
    line-height: 26px;
  }
  .rental_location {
    font-size: 14px;
    line-height: 20px;
  }
  .rental__tags {
    order: 3;
    width: 100%;
    flex-wrap: wrap;
  }
  .rental__rating {
    order: 4;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
  }
  .rental__host_info {
    order: 5;
  }
  .rental__host_name {
    font-size: 12px;
    line-height: 17px;
  }
  .rental__host_picture {
    width: 32px;
    height: 32px;
  }
  .rental__dropdowns {
    order: 6;
    flex-wrap: wrap;
  }
  .rental__description,
  .rental__equipments {
    width: 100%;
    margin-bottom: 30px;
  }
}
