.homeTitle__wrap {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../assets/home-cover.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 43px;
  padding: 0 16px;
  margin-top: 27px;
}
.homeTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 68px;
  color: #ffffff;
}

.rentalsGrid {
  background: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 60px;
  place-content: center;
  justify-content: center;
  padding: 50px;
}
.rentalsGrid a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .rentalsGrid {
    grid-template-columns: 1fr 1fr;
  }
  .homeTitle__wrap {
    height: 111px;
    border-radius: 10px;
  }
  .homeTitle {
    font-size: 24px;
    line-height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .homeTitle__wrap {
    height: 111px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .homeTitle {
    font-size: 24px;
    line-height: 24px;
  }
  .rentalsGrid {
    grid-template-columns: 1fr;
    gap: 20px 0;
    place-content: center;
    justify-content: center;
    padding: 0;
    background: transparent;
  }
}
