.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 100px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px;
  }
  .header img {
    width: 100%;
    height: 47px;
  }
}
